/* Import and use the Inter font https://rsms.me/inter/ */
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

body {
    display: flex;
    padding: 2em;
    font-family: 'Inter var', sans-serif;
}

.contents {
    display: flex;
    align-items: flex-start;
}

.scale-type {
    margin: 0 1em;
    font-size: 0.8em;
    line-height: 1.6em;
}

svg {
    margin-bottom: 0.8em;
}