:root {
  --md-primary-fg-color: #42b883;
  --md-primary-fg-color--light: #42d392;
  --md-primary-fg-color--dark: #33a06f;
}
/* --vt-c-green: #42b883;
--vt-c-green-light: #42d392;
--vt-c-green-lighter: #35eb9a; */
